@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.tarjeta-resumen {
  border: 0;
  border-radius: v.$radio;

  &__etiqueta {
    margin-bottom: v.$espacio-1;
    opacity: 0.95;
  }

  &__ayuda {
    margin-top: v.$espacio-2;
    opacity: 0.9;
  }

  &--principal {
    @include m.tarjeta(v.$color-menta, #fff);

    .tarjeta-resumen__monto {
      letter-spacing: -0.02em;
    }
  }

  &--secundaria {
    @include m.tarjeta(v.$color-blanco, v.$color-texto);
    border: 1px solid v.$color-menta-claro;

    .tarjeta-resumen__monto {
      letter-spacing: -0.01em;
    }
  }
}
