@use "abstracts/variables";
@use "abstracts/mixins";

@use "base/reset";
@use "base/typography";

@use "layout/layout";
@use "layout/header";
@use "layout/footer";

@use "components/tarjeta-resumen";
@use "components/boton-miguita";
@use "components/barra-lateral";
@use "components/lista-miguitas";
@use "components/modal-miguita";

@use "pages/dashboard";
